<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title></title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="favicon.ico" rel="shortcut icon">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body class="gray-bg">
<!-- 全局js -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script language="javascript" type="text/javascript">
    window.location.href = '/monitor/server';
</script>
</body>
</html>
